body {
background: linear-gradient(135deg,#89f7fe,#66a6ff);
font-family: Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app {
background:rgba(255,255,255,0.6);
padding:20px;
border-radius:20px;
text-align:center;
width:300px;
}

.progress {
width:100%;
height:20px;
background:#fff;
border-radius:10px;
margin:15px 0;
overflow:hidden;
}

#bar {
height:100%;
width:0%;
background:#4facfe;
transition:width 0.3s;
}
